* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --size-img-topnavbar: 10vw;
  --size-productlist-margin-top: 8vh;
  --size-width-topnavbar: 100%;
  --size-productlist-padding: 5vw;
  --size-padding-topnavbar: 3vw;
  --size-gap-topnavbar: 1rem;
  --size-width-searchbar: 95vw;
  --size-width-searchbar-input: 80%;
  --size-width-searchbar-button: 20%;
  --size-padding-searchbar: 0.25rem;
  --size-productlist-img: 30vw;
  --size-padding-listofproducts: 2.5vw;
  --size-borderradius-listofproducts: 1.55vw;
  --size-padding1-footer: 1rem;
  --size-padding2-footer: 0.5rem;
  --size-fontsize1-secondrypage: 2rem;
  --size-fontsize2-secondrypage: 1rem;
  --size-fontweight-secondrypage: 600;
  --size-padding-secondrypage: 1rem;
  --size-width-secondrypage: 80vw;
  --size-padding1-inputform: 1rem;
  --size-margin1-inputform: 1rem;
  --size-padding2-inputform: 0.75rem;
  --size-borderradius-inputform: : 2vw;
  --size-width-inputform: 100%;
  --size-margin2-inputform: 1rem;
  --size-padding3-inputform: 0.25rem;

  --clr-topnavbar: rgb(0, 0, 35);
  --clr-icons: rgb(255, 255, 255);
  --clr-background-footer: rgb(0, 0, 0);
  --clr-links-footer: rgb(255, 255, 255);
  --clr-background: rgb(245, 245, 255);
}

/* 
##################
# MOBILE DEVICES #
################## 
*/

/* TOPNAVBAR */
.topnavbar {
  display: flex;
  position: fixed;
  top: 0;
  width: var(--size-width-topnavbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-topnavbar);
  padding: var(--size-padding-topnavbar);
  flex-wrap: wrap;
  gap: var(--size-gap-topnavbar);
}

.topnavbar img {
  height: var(--size-img-topnavbar);
}

.searchbar {
  width: var(--size-width-searchbar);
  order: 1;
  margin: auto;
}

.searchbar input {
  width: var(--size-width-searchbar-input);
  padding: var(--size-padding-searchbar);
}

.searchbar button {
  width: var(--size-width-searchbar-button);
  padding: var(--size-padding-searchbar);
}

/* PRODUCT LIST  */
.listofproducts {
  margin-top: calc(3 * var(--size-img-topnavbar));
  margin-bottom: var(--size-img-topnavbar);
  padding: var(--size-padding-listofproducts);
  background-color: var(--clr-background);
}

.product {
  background-color: white;
  border-radius: var(--size-borderradius-listofproducts);
  margin-bottom: 5vw;
  padding: 1vw;
}

.productimg {
  display: inline-block;
  width: var(--size-productlist-img);
  border-radius: var(--size-borderradius-listofproducts);
}

.productimg img {
  width: 100%;
  border-radius: var(--size-borderradius-listofproducts);
}

.productdetail {
  display: inline-block;
  vertical-align: top;
  width: 60vw;
  background-color: white;
  padding-left: 2vw;
  border-radius: var(--size-borderradius-listofproducts);
}

.productdetail h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.productdetail a {
  text-decoration: none;
  color: inherit;
}

.listofproducts button {
  padding: 0.25rem;
  margin-right: 2vw;
}

/* FOOTER */

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: var(--size-width-topnavbar);
  justify-content: space-evenly;
  background-color: var(--clr-background-footer);
  padding: var(--size-padding1-footer);
}

.footer a {
  text-decoration: none;
  color: var(--clr-links-footer);
  padding: var(--size-padding2-footer);
}

/* TERMS OF USE PAGE */

.secondrypage {
  margin-top: calc(3 * var(--size-img-topnavbar));
}

.secondrypage h1 {
  font-size: var(--size-fontsize1-secondrypage);
  text-align: center;
}

.secondrypage p {
  font-size: var(--size-fontsize2-secondrypage);
  font-weight: var(--size-fontweight-secondrypage);
  padding: var(--size-padding-secondrypage);
}

.secondrypage img {
  width: var(--size-width-secondrypage);
  display: block;
  margin: auto;
}

/* PRODUCT PAGE */

.productpage {
  margin-top: calc(3 * var(--size-img-topnavbar));
  padding: 2vw;
}

.productpage img {
  display: block;
  margin: auto;
  width: 50vw;
  padding-top: 5vw;
}

.buttoncarrier {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.buttoncarrier button {
  padding: 0.25rem;
  margin: 0.25rem;
}

.detailsofproduct {
  display: block;
  width: fit-content;
  padding: 5vw;
  margin: auto;
}

.detailsofproduct p {
  font-size: 1rem;
}

/* INPUT FORM */
.inputform {
  padding: var(--size-padding1-inputform);
}

.inputform fieldset {
  margin-bottom: var(--size-margin1-inputform);
  padding: var(--size-padding2-inputform);
  border-radius: var(--size-borderradius-inputform);
}

.inputform input {
  width: var(--size-width-inputform);
  margin-bottom: var(--size-margin2-inputform);
  padding: var(--size-padding3-inputform);
}
