* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --size-img-topnavbar: 10vw;
  --size-productlist-margin-top: 8vh;
  --size-width-topnavbar: 100%;
  --size-productlist-padding: 5vw;
  --size-padding-topnavbar: 3vw;
  --size-gap-topnavbar: 1rem;
  --size-width-searchbar: 95vw;
  --size-width-searchbar-input: 80%;
  --size-width-searchbar-button: 20%;
  --size-padding-searchbar: 0.25rem;
  --size-productlist-img: 30vw;
  --size-padding-listofproducts: 2.5vw;
  --size-borderradius-listofproducts: 1.55vw;

  --clr-topnavbar: rgb(0, 0, 35);
  --clr-icons: rgb(255, 255, 255);
}

/* 
##################
# MOBILE DEVICES #
################## 
*/

/* TOPNAVBAR */
.topnavbar {
  display: flex;
  position: fixed;
  top: 0;
  width: var(--size-width-topnavbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-topnavbar);
  padding: var(--size-padding-topnavbar);
  flex-wrap: wrap;
  gap: var(--size-gap-topnavbar);
}

.topnavbar img {
  height: var(--size-img-topnavbar);
}

.searchbar {
  width: var(--size-width-searchbar);
  order: 1;
  margin: auto;
}

.searchbar input {
  width: var(--size-width-searchbar-input);
  padding: var(--size-padding-searchbar);
}

.searchbar button {
  width: var(--size-width-searchbar-button);
  padding: var(--size-padding-searchbar);
}

/* PRODUCT LIST  */
.listofproducts {
  margin-top: calc(3 * var(--size-img-topnavbar));
  padding: var(--size-padding-listofproducts);
  background-color: rgb(245, 245, 255);
}

.product {
  background-color: white;
  border-radius: var(--size-borderradius-listofproducts);
  margin-bottom: 5vw;
  padding: 1vw;
}

.productimg {
  display: inline-block;
  width: var(--size-productlist-img);
  border-radius: var(--size-borderradius-listofproducts);
}

.productimg img {
  width: 100%;
  border-radius: var(--size-borderradius-listofproducts);
}

.productdetail {
  display: inline-block;
  vertical-align: top;
  width: 60vw;
  background-color: white;
  padding-left: 2vw;
  border-radius: var(--size-borderradius-listofproducts);
}

.productdetail h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.productdetail a {
  text-decoration: none;
  color: inherit;
}

.listofproducts button {
  padding: 0.25rem;
  margin-right: 2vw;
}
